__pycache__/
*.py[cod]

.ipynb_checkpoints/
*.ipynb_checkpoints

venv/
.env/

.DS_Store
Thumbs.db

.vscode/
.idea/

data/raw/
*.dat

data/processed/house1_7days.csv

GIT_COMMIT_GUIDE.md
LINKEDIN_POST_DRAFT.md